.form-auth {
    display: grid;
    grid-template-areas:    "form-auth_text form-auth_text_field form-auth_text_field"
                            "form-auth_pass form-auth_pass_field form-auth_showpassbtn"
                            ". form-auth_submitbtn .";
    grid-gap: 3px;
    grid-template-columns: 1fr 300px 1fr;
}

.form-auth_text {
    grid-area: form-auth_text;
    justify-self: end;
}

.form-auth_text_field {
    grid-area: form-auth_text_field;
    width: 300px; 
}

.form-auth_pass {
    grid-area: form-auth_pass;
    justify-self: end;
}

.form-auth_pass_field {
    grid-area: form-auth_pass_field;
    width: 250px;
    background: url(../images/lock.png) no-repeat 5px 50%;	
}

.form-auth_showpassbtn {
    grid-area: form-auth_showpassbtn;
    grid-column: 2 / span 1;
    justify-self: end;
    width: 46px;
    padding: 10px; 
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); 
    border: 1px solid #ccc; 
    background: url(../images/eyeopen.png) no-repeat 50%; 
    background-size: 20px;
    background-color:  lightgrey;     
}

.form-auth_submitbtn {
    grid-area: form-auth_submitbtn;
    grid-column: 2 / span 1;
    justify-self: self-end;
    margin-left: 210px; 
    width: 300px;
    height: 40px;
    background-color: lightskyblue;
    border: black;    
}

.form-auth_text_field, .form-auth_pass_field {
    padding: 10px; 
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); 
    border: 1px solid #ccc; 
    color: #200900; 
    background: url(../images/user.png) no-repeat 5px 50%; 
    padding-left: 30px; 
   }




   label {
    line-height: 30px;
   }

