.form-auth {
    display: grid;
    grid-template-areas:    ". form-auth_textfield    ."
                            ". form-auth_passfield    form-auth_showpassbtn"
                            ". form-auth_submitbtn    .";
    grid-gap: 3px;
    grid-template-columns: auto 300px auto;
}


.form-auth_textfield {
    grid-area: form-auth_textfield;
    min-width: 300px;
    background: url(../images/user.png) no-repeat 5px 50%; 
}

.form-auth_passfield {
    grid-area: form-auth_passfield;
    min-width: 250px;
    background: url(../images/lock.png) no-repeat 5px 50%;	
}

.form-auth_showpassbtn {
    grid-area: form-auth_showpassbtn;
    grid-column: 2 / span 1;
    justify-self: end;
    min-width: 46px;
    padding: 10px; 
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); 
    border: 1px solid #ccc; 
    background: url(../images/eyeopen.png) no-repeat 50%; 
    background-size: 20px;
    background-color:  lightgrey;     
}

.form-auth_submitbtn {
    grid-area: form-auth_submitbtn;
    grid-column: 2 / span 1;
    justify-self: self-end;
    /* margin-left: 210px;  */
    width: 300px;
    height: 40px;
    background-color: lightskyblue;
    border: black;    
}

.form-auth_textfield, .form-auth_passfield {
    padding: 10px; 
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); 
    border: 1px solid #ccc; 
    color: #200900; 
    padding-left: 30px; 
}

